<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>KaeruShi Commissions</title>
</head>
<body>
    <div class="container">
        <div class="top-menu">
            <ul class="ul-menu">
                <li class="li-menu"><a href="../index.html" class="it-menu">home</a></li>
                <li class="li-menu"><a href="product.html" class="it-menu">product</a></li>
                <li class="li-menu"><a href="comis.html" class="it-menu">comission</a></li>
                <li class="li-menu"><a href="about.html" class="it-menu">about</a></li>
            </ul>
        </div>

        <div class="item-container">
            <div class="child-item">
                <p style="font-size: 40px;">Coming Soon!</p>
            </div>
        </div>
    </div>
</body>
</html>